html,
body {
  padding: 0;
  margin: 0;
  background-color: #222;
  color: #eee;
}

.divCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}