.browser {
    background-color: rgb(8, 36, 88);
    box-shadow:3px 3px 3px rgb(13, 55, 133); /* BOTÃO COM SENSAÇÃO 3D */
    padding: 30px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer; /* ALTERA ÍCONE DO CURSOR DO MOUSE */
    font-size: 25px;
}

.browser:active {
    position: relative;
    top: 3px;
}