.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.cabecalho a {
    background-color: rgb(8, 36, 88);
    box-shadow:3px 3px 3px rgb(13, 55, 133);
    padding: 8px 12px;
    border-radius: 5px;
}

.cabecalho:active {
    position: relative;
    top: 3px;
}

.cabecalho h1 {
    margin: 0;
    font-size: 1.0rem;
}

.conteudo {
    padding: 25px;
    height: 100%;
}